* {
	margin: 0;
	padding: 0;
}

.container {
	font-family: Roboto;
	/* padding: 0 80px; */
}

.bu-2 {
	border: 1px solid black;
	box-shadow: 2px 2px black;
	padding: 5px 15px 5px 15px;
	background-color: goldenrod;
}

.top {
	margin: 0 30px 20px 30px;
	padding: 0 30px 0 30px;
	height: 60px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: aliceblue;
}

.general {
	margin: 0 20px 20px 20px;
	display: flex;
}

.row {
	margin: 10px;
	border: 1px solid black;
	text-align: center;	
}

.col-2 {
	margin: 10px;
	flex-basis: 200px;
	flex-grow: 2;
}

.incol-1 {
	margin: 30px 20px;
}

.incol-2{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: start;
	margin: 20px 0;
}

.subrow {
	border: 1px solid black;
	padding: 20px;
	text-align: center;
	min-height: 120px;
}

.pimg {
	border: 2px solid white;
	outline: 1px solid silver;
	border-radius: 50%;
	background-size: contain;
	height: 80px;
	width: 80px;
}

.name{
	flex-grow: 4;
}
.likes{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}