* {
	margin: 0;
	margin-bottom: -2px;
	background: black;
}
.wall {
	background-color: blue;
	height: 40px;
	width: 40px;
	display: inline-block;
}
.cherry {
	background-color: black;
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("pacman/cherry.png");
	background-size: contain;
}
.strawberry {
	background-color: black;
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("pacman/strawberry.png");
	background-size: contain;
}
.blank {
	background-color: black;
	height: 40px;
	width: 40px;
	display: inline-block;
}
#victory{
	background-color: black;
	height: 800px;
	width: 800px;
	display: inline-block;
	background-image: url("pacman/victory.jpg");
	background-size: contain;
}
#gameover {
	background-color: black;
	height: 450px;
	width: 800px;
	display: inline-block;
	background-image: url("pacman/gameover.jpg");
	background-size: contain;
}
#pacman {
	background-color: black;
	height: 35px;
	width: 35px;
	display: inline-block;
	background-image: url("pacman/pacman.gif");
	background-size: contain;
	position: absolute;
	margin: 0;
}
#ghosty {
	background-color: black;
	height: 35px;
	width: 35px;
	display: inline-block;
	background-image: url("pacman/ghost.gif");
	background-size: contain;
	position: absolute;
	margin: 0 2.5px;
}
