* {
	padding: 0;
	margin: 0;
	font-family: roboto;
}

h1 {
	font-size: x-large;
	font-weight: normal;
}

.container {
	margin: 50px;
	height: 300px;
	width: 500px;
	border: 2px solid silver;
}

.top {
	background-color: darkcyan;
	height: 60px;
}

.img-1 {
	margin-top: -30px;
	height: 60px;
	width: 60px;
	border: 2px solid white;
	outline: 1px solid silver;
	border-radius: 50%;
	background-image: url("icons/user-circle.png");
	background-size: contain;
}

.info {
	margin-left: 25px;
	display: flex;
	align-items: center;
}

.img-2,
.img-3 {
	background-size: contain;
	margin: 5px;
	width: 10px;
}

.img-2 {
	background-image: url("icons/map-marker.png");
	height: 15px;
}

.img-3 {
	background-image: url("icons/gear.png");
	height: 10px;
}
